<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
    <th>StudentName</th>
    <th>StudentAttendence</th>
    <th>StudentEmail</th>
    <th>StudentContactNo</th>
    <th>StudentGender</th>
    <th>StudentCourse</th>
    <th>StudentPhoto</th>
    <th>StudentAssignment</th>
    </tr>
    <tbody>
    {% for form in form %}
    <tr>
    <td>{{form.student_id}}</td>
    <td>{{form.student_attendence}}</td>
    <td>{{form.student_Email}}</td>
    <td>{{form.student_contactNo}}</td>
    <td>{{form.Student_gender}}</td>
    <td>{{form.student_Course}}</td>
    <td><img src='media/{{form.student_photo}}' ></td>
    <td>{{form.student_assignment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>